<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="test.valid.subclass.plugin" version="1">
    <about>
        <name>Valid subclass plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Test plugin with valid subclass</description>
        <vendor>
            <name>GoCD Team</name>
            <url>https://github.com/gocd/go-plugins</url>
        </vendor>
    </about>
</go-plugin>