<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="log.notifier" version="1">
    <about>
        <name>Log Notification plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin to send log notifications</description>
        <vendor>
            <name>GoCD Team</name>
            <url>https://github.com/gocd/go-plugins</url>
        </vendor>
    </about>
</go-plugin>